html   
    title demo form
    body
        h2 Enter your infor
        form(method="post",action="/saveForm")
            p Name
            input(type="text",name="yourName")
            input(type="submit" value="send")