html   
    title HomePage
    link(rel="stylesheet",href="/css/style.css",type="text/css")
    script(src="/scripts/myscript.js")
    body
        div
            h1.header ATN Store
        div
            img(src="/images/a.jpg", width = "100%",height="50%")
        div.bar
            a Rubik
            a Lego
            a Doll
            a Stuffed Animal
            a Car
            a Motor
            a Helicopter
            a Tetris            
        
        div.column
            h2 Rubik
            p.text New Arrival!!!
            img(src="/images/2.jpg", width = "200px",height="150px")
        div.column
            h2 Lego
            p.text New Arrival!!!
            img(src="/images/3.jpg", width = "200px",height="150px")         
        div.column
            h2 Doll
            p.text New Arrival!!!
            img(src="/images/4.jfif", width = "200px",height="150px")
        div.column
            h2 Stuffed Animal
            p.text New Arrival!!!  
            img(src="/images/5.jfif", width = "200px",height="150px")
        div.column
            h2 Stuffed Animal
            p.text New Arrival!!!  
            img(src="/images/6.jpg", width = "200px",height="150px")
        div.column
            h2 Stuffed Animal
            p.text New Arrival!!!  
            img(src="/images/7.jfif", width = "200px",height="150px")
        div.column
            h2 Stuffed Animal
            p.text New Arrival!!!  
            img(src="/images/8.jfif", width = "200px",height="150px")
        div.column
            h2 Stuffed Animal
            p.text New Arrival!!!  
            img(src="/images/9.jfif", width = "200px",height="150px")
        div.footer
            h1 About US
            p Contact : +84969334436
            p Address : Thanh Xuan , Ha Noi
        
      