html   
    title My index page
    link(rel="stylesheet",href="/css/mystyle.css",type="text/css")
    script(src="/scripts/myscript.js")
    body
        div
            h1 Ocean's Eleven
            ul
                li Comedy
                li Thriller
            p.
                    Danny Ocean and his eleven accomplices plan to rob
                    three Las Vegas casinos simultaneously.
            img(src="/images/1.jpg", width = "200px",height="150px")
        - var x = 5;
        div
            ul
                - for (var i=1; i<=x; i++) {
                li Hello #{i}
                - }
            p.redText This is a red Line
            input(type="button",onclick="Hi()",value="Click Here")